*.mp4 filter=lfs diff=lfs merge=lfs -text
informatica2.2[[:space:]]-[[:space:]]Proteus[[:space:]]8[[:space:]]Professional[[:space:]]-[[:space:]]Schematic[[:space:]]Capture[[:space:]]2025-11-19[[:space:]]00-04-52 filter=lfs diff=lfs merge=lfs -text
